<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container-fluid">

  <div class="col-xs-12 title">
   <p><center><br>
   <center><%= image_tag('bus.png', class: "logo-bus") %><p>
   <%= image_tag('logo.png', class: "logo") %></center>
  </div>
  
  <div class='col-xs-12 welcome-text'>  
    <div class="content-text">
    <center>
    <h4>WELCOME TO AUTOBUS</h4>
    
    <p>The easiest way to see when your bus is arriving. Autobus finds the nearest bus stops and lists all of the incoming bus arrivals in real-time.</p>
    
    <p> Just press the button below and we'll do the rest! </p></center>
    </div>
  </div>
   <div class='col-xs-12 full-all'> 
    <div class="content-text-geo">

    <center><%= image_tag('pin.png', class: 'pin') %></center>

    <h4>LOCATION SETTINGS</h4>
  <center>
    <p>In order for us to send you live updates, please make sure to have your browser's location settings on.</p></center>
    </div>
   </div>

  <div class="col-xs-12 lets-go">
    <CENTER><%= image_tag("find_buses.png", class: "my-buttons") %></CENTER>
  </div>
</div>
<div class="container-fluid">

  <div class="stop-info col-xs-12">
    <span id="stops"></span>
  </div>

</div>