<h1>Nearby</h1>

<!-- <h3><a href="#" class="get_location">Find Location</a></h3> -->

<!-- <p>Currrent Latitude: <span id="lat"></span></p>
<p>Current Longitude: <span id="long"></span></p> -->


<span id="stops"></span>