<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container-fluid">

  <div class="col-xs-12 title">
   <p><center><br>
   <center><%= image_tag('bus.png', class: "logo-bus") %><p>
   <%= image_tag('logo.png', class: "logo") %></center>
  </div>
  
  <div class='col-xs-12'>  
    <span class="text-title">Welcome to Autobus.nyc</span>
    
    <p>The easiest way to see when your bus is arriving. Autobus finds the nearest bus stops (within a 1-2 blocks) and lists all of the incoming bus arrivals in real-time (not schedules).</p>
    
    <p> Just press the button below and we'll do the rest! </p>
    
  </div>

  <div class="col-xs-12">
    <CENTER><%= image_tag("find_buses.png", class: "my-buttons") %></CENTER>
  </div>
</div>
<div class="container-fluid">

  <div class="stop-info col-xs-12">
    <span id="stops"></span>
  </div>

</div>