"use strict";

$(document).ready(function(){
  
  // Finds user's geolocation
  navigator.geolocation.getCurrentPosition(positionSuccess, positionError);

  function positionSuccess(position){
    var latitude = position.coords.latitude;
    var longitude = position.coords.longitude;
    
    var currentLocationRequest = stopMonitorRequest(latitude, longitude);
    findNearestStops(currentLocationRequest);
  }

  function positionError(error){
    return console.warn('ERROR: ' + error.code + ': ' + error.message);
  }

});
    

// Creates a URL for the MTA's stop API with the user's current location
function stopMonitorRequest(latitude, longitude){
  var response = "http://bustime.mta.info/api/where/stops-for-location.json?lat=" + latitude + "&lon=" + longitude + "&latSpan=0.005&lonSpan=0.005&key=<%= ENV['MTA_API_KEY'] %>" ;
  return response;
}

// Finds all the nearest bus stops
function findNearestStops(response){
  $.ajax({
    type: "GET",
    dataType: "jsonp",
    url: response,
    data: { format: 'json' },
    success: function(result){    
      var stopObjects = Array.prototype.slice.call(result.data.stops);
      requestStopData(stopObjects);
    }
  });
}

// Send a request for each stops latest info, display the request on page.
function requestStopData(stopObjects){
  
  stopObjects.forEach(function(stop){
  
    var route = "http://bustime.mta.info/api/siri/stop-monitoring.json?key=<%= ENV['MTA_API_KEY'] %>&MonitoringRef=" + stop.code;
      
    var thisStop = stop;
    
    $.ajax({
      type: "GET",
      dataType: "jsonp",
      url: route,
      data: { format: 'json' },
      success: function(result){
      
      var currentStopOBA = thisStop;
      var currentStopSiri = result.Siri.ServiceDelivery.StopMonitoringDelivery[0].MonitoredStopVisit;
      
      currentStopSiri.forEach(function(stop){
        
        if (currentStopSiri !== undefined){

          // Stop variables
          var currentStopOBA = thisStop;
          var googleMaps = "http://maps.google.com/maps?z=12&t=m&q=loc:" + currentStopOBA.lat + "+" + currentStopOBA.lon;
          
          // Arriving bus variables
          var busName = stop.MonitoredVehicleJourney.PublishedLineName;
          var busDestination = stop.MonitoredVehicleJourney.DestinationName;
          var busDistanceAway = stop.MonitoredVehicleJourney.MonitoredCall.Extensions.Distances.PresentableDistance;
          var busStopsAway = stop.MonitoredVehicleJourney.MonitoredCall.Extensions.Distances.StopsFromCall;

          // Appending to DOM variables
          var thisBusHeader = '.' + currentStopOBA.code;
          var compass_image = "<img src='/assets/compass-57282c795d837e8775337f44cdf20b3c3f5c0babbbb0eb87a1b5919f0b35168a.png' alt='Compass 57282c795d837e8775337f44cdf20b3c3f5c0babbbb0eb87a1b5919f0b35168a' class='icon_compass'>";

          $('.my-buttons').click(function(){
            
            if ($(thisBusHeader).length > 0){
              $(thisBusHeader).append(
                "<div class='bus-item col-xs-12'>" +
                  "<table>" + "<tr>" + "<td>"+ "<center>" + busDistanceAway + "</center>"+ "</td>" + "<td>" + "<center>" + "<h2>" + busStopsAway + "</h2>" + " stops away"+ "</center>" + "</td>" + "</tr>" + "</table>" +
                "</div>" 
                );        

            } else {
              $('#stops').append(
                
                // Stop header
                "<div class='bus-item-header col-xs-12 " + currentStopOBA.code + "'" + ">" + "<table>" + "<tr>" + "<td>" +
                  "<a href='" + googleMaps + "'>" + compass_image + "</a>" + 
                  "</td>" + "<td>" +
                  "<h2 class='bus-name'>" + busName + "</h2>" + "<br>"
                  + currentStopOBA.name + "<br>" + 
                  "TO: " + busDestination + "</td>" + "</tr>" + "</table>" + "</div>" +
               
                // Bus details
                "<div class='bus-item col-xs-12'>" +
                  "<table>" + "<tr>" + "<td>"+ "<center>" + busDistanceAway+ "</center>" + "</td>" + "<td>" + "<center>" + "<h2>" + busStopsAway + "</h2>" + " stops away" + "</center>" + "</td>" + "</tr>" + "</table>" +
                "</div>" 
              );        
            }
          });
        }
      });     
      }
    });
  });
}
        // "<%= image_tag('bus_image.png', class: 'icon_bus') %>" 
        // "<%= image_tag('bus_image.png', class: 'icon_bus') %>" 
