@import url(http://fonts.googleapis.com/css?family=Montserrat);

body > p {
  font-size: 2.5em;
}

.bus-item {
  padding: 10px;
  clear: float;
  width: 100%;
  background-color: #fff;
}

.stop-info {
  width: 100%;
  margin: 0;
}

.welcome-text {
  background-image: image-url("city_bg.jpg");
  background-size: cover;
}

.lets-go {
  background-image: image-url("street_bg.jpg");
  background-size: cover;
}

.bus-item-header {
  background-color: #f4f4f4;
  width: 100%;
  padding: 10px;
}

.content-text-geo {
  margin: 20px 20px 50px 30px;
}

.content-text {
  margin: 60px 20px 50px 30px;
  color: #fff;
}

.content-text > p,
.content-text-geo > p {
  font-family: 'Open Sans';
}

p {
  font-family: 'Open Sans'
}

table {
  margin-bottom: 15px;
}


.content-text p,
.content-text-geo p {
  line-height: 2em;

}

.col-xs-12 h4 {
  font-family: 'Montserrat';
  font-weight: 400;
  text-align: center;
}

.compass {
  width: 15%;
}

.full-all {
  background-color: #fff;
  /*background-image: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0, #3BFCFF),
  color-stop(1, #14A0C7)
);
background-image: -o-linear-gradient(bottom, #3BFCFF 0%, #14A0C7 100%);
background-image: -moz-linear-gradient(bottom, #3BFCFF 0%, #14A0C7 100%);
background-image: -webkit-linear-gradient(bottom, #3BFCFF 0%, #14A0C7 100%);
background-image: -ms-linear-gradient(bottom, #3BFCFF 0%, #14A0C7 100%);
background-image: linear-gradient(to bottom, #3BFCFF 0%, #14A0C7 100%);*/
}

.full-all h4 {
  color: #000;
}

.full-all p {
  color: #cacaca;
}
.pin {
  height: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

}

.title {
  height: 270px;
  width: 100%;
}

.bus-name {
  font-family: "Montserrat";
  font-weight: 800;
  padding-left: 0px;
  color: #282828;
  margin-top: 30px;
  margin-bottom: 0px;
  line-height: 0.6;
}


.icon {
  padding: 50px;
}

.bus-line > h2 {
  font-family: 'Montserrat';
  font-weight: 800;
  width: 100%;
  margin: 0;
  color: #282828;
}



span h2 {
  font-family: 'Open Sans';
  font-weight: 800;
}

.line-info {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 0.7em;
  margin-bottom: 10px;
  color: #282828;
  padding: 10px;
}

.welcome > p,
.col-xs-12 > p,
.col-xs-12 > .text-title {
  font-family: 'Open Sans';
  font-weight: 400; 
  line-height: 2;
}


.bus-line {
  float: left;
  padding: 25px 25px 25px 0px;
}

.logo2 {
  width: 30%;
}

.text-title {
  text-align: center;
}


.icon_compass {
  height: 70px;
  padding: 0px 10px 10px 0px;
  margin: 20px 15px 0px 20px;
}

.logo-bus {
  height: 150px;
}

.my-buttons {
  height: 120px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.bus-info-left {
  width: 40%;
  /*border: solid 1px red;*/
  float: left;
}

.bus-info-right {
  width: 40%;
  /*border: solid 1px red;*/
  float: right;
}


.logo {
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.icon_bus {
  float: left;
  height: 80px;
  padding: 0px 10px 10px 0px;
}

.bus-item > td,
.bus-item-header > td {
  width: 50%;
}

.bus-item > table {
  width: 100%;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px
}

#stops > .bus-item-header .col-xs-12 {
  padding: 30px;
  margin: 0;
  width: 100%;
}

#stops > .col-xs-12 {
  padding: 0px;
}

body > div.container-fluid {
  padding: 0;
  margin: 0;
  width: 100%;
}

.welcome {
  height: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container-fluid > .col-xs-12 {
  padding: 0;
  margin: 0;
  width: 100%;
}









/* 

RED - #EC1C24 = [M1,M5 ]
PURPLE - #99258E = [M2, M3, M9]
CYAN - #00ADEE = [M4, M7, M8]




*/





