@import url(http://fonts.googleapis.com/css?family=Montserrat);

body > p {
  font-size: 2.5em;
}

.bus-item {
  padding: 10px;
  clear: float;
  width: 100%;
  background-color: #fff;
}

.stop-info {
  width: 100%;
  margin: 0;
}

.bus-item-header {
  background-color: #f2f2f2;
  width: 100%;
  padding: 10px;
}

.compass {
  width: 15%;
}

.title {
  height: 130px;
  width: 100%;
}

.bus-item-header > h2 {
  font-family: "Montserrat";
  font-weight: 800;
  padding-left: 10px;
}

.line-info {
  padding: 10px;
}

.icon {
  padding: 50px;
}

.bus-line > h2 {
  font-family: 'Open Sans';
  font-weight: 800;
  width: 100%;
  margin: 0;
}

.line-info {
  font-family: 'Open Sans';
  font-weight: 400;
}

.welcome > p {
  font-family: 'Open Sans';
  font-weight: 400; 
}


.bus-line {
  float: left;
  padding: 25px 25px 25px 0px;
}

.logo2 {
  width: 30%;
}

.text-title {
  text-align: center;
}

.my-buttons {
  width: 40%;
}

.logo {
  width: 90%;
}

#stops > .bus-item-header .col-xs-12 {
  padding: 30px;
  margin: 0;
  width: 100%;
}

#stops > .col-xs-12 {
  padding: 0px;
}

body > div.container-fluid {
  padding: 0;
  margin: 0;
  width: 100%;
}

.welcome {
  height: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container-fluid > .col-xs-12 {
  padding: 0;
  margin: 0;
  width: 100%;
}
